{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {% for label, messages in app.flashes(['warning', 'error', 'success', 'critical', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
{% endblock %}
