{% macro display_intervals(intervals) %}
    {% for interval in intervals %}
        {{ interval.fromDate|date("m/d/Y") }} - {{ interval.toDate|date("m/d/Y") }} <br>
    {% endfor %}
{% endmacro %}

{% extends 'layouts/one_column.html.twig' %}
{% import _self as macros %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <table class="table table-responsive">

        <tbody>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Position</th>
        <th>Intervals required</th>
        <th colspan="2">Options</th>
        {% for entity in requests %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.department.name }}</td>
                <td>{{ entity.position.name }}</td>
                <td>{{ macros.display_intervals(entity.intervals) }}</td>
                <td>
                    {% if entity.status != "APPROVED" %}
                        <a href="{{ path('request_action', {'action': 'approve','id': entity.id}) }}">Approve</a>
                    {% endif %}
                </td>
                <td>
                    {% if entity.status != 'DENIED' %}
                        <a href="{{ path('request_action', {'action': 'deny', 'id': entity.id}) }}">Deny</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}